// mixins.scss - Custom Mixin

//
// respond-to($media)
//
// Mixin responsive
// @credit Jason Cypret - http://jasoncypret.com/responsive-sass-mixin/
//
// Usage
//  `@include respond-to('media');`
//
// Media list:
//  smartphone
//  smartphone-l    smartphone landscape orientation
//  smartphone-p    smartphone portrait orientation
//  ipad
//  ipad-l          ipad landscape orientation
//  ipad-q          ipad portrait orientation
//  desktop         normal desktop
//  cinema          widescreen monitor
//  retine          retina display monitor
//
@mixin respond-to($media) {
    @if $media == smartphone {
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) { @content; }
    } @else if $media == smartphone-l {
        @media only screen and (min-width : 321px) { @content; }
    } @else if $media == smartphone-p {
        @media only screen and (max-width : 320px) { @content; }
    } @else if $media == ipad {
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { @content; }
    } @else if $media == ipad-l {
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { @content; }
    } @else if $media == ipad-p {
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { @content; }
    } @else if $media == desktop {
        @media only screen and (min-width : 1224px) { @content; }
    } @else if $media == cinema {
        @media only screen and (min-width : 1824px) { @content; }
    } @else if $media == retina {
        @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { @content; }
    }
}


@mixin responsive-full-width($container: true) {
    @media only screen and (max-width: 767px) {
        margin: {
            left: -20px;
            right: -20px;
        }

        @if $container == true {
            padding: {
                left: 20px;
                right: 20px;
            }
        }
    }
}



