// page.scss - main styling di sini

/* ==========================================================================
   Base
   ========================================================================== */

::selectionn {
    background-color: $selectionColor;
    color: $white;
    text-shadow: none;
}

::-moz-selection {
    background-color: $selectionColor;
    text-shadow: none;
    color: $white;
}

body {

    background: white image-url("main-background.png") repeat 0 0 scroll;

    @media only screen and (min-width: $navbarCollapseDesktopWidth) {
        &[class*="admin-bar"] {
            padding-top: 28px;

            .navbar-fixed-top {
                top: 28px;
            }
        }
    }

}

a.thumbnail:hover,
a.thumbnail:focus {
    @include single-box-shadow(0, 1px, 4px, false, rgba($linkColor, 0.6));
}

.nakee-front-teaser,
.content-info {

    @include responsive-full-width();
    background: transparent image-url("footer-background.png") repeat 0 0 scroll;
    padding: {
        top: 15px;
        bottom: 15px;
    }

    .widget-inner h3,
    .widget-inner h4 {
        @include single-text-shadow(0, 1px, 1px, false, darken($nakee_dark_green, 15%));
        color: $nakee_coral;
    }

    .widget-inner > div {
        @include single-text-shadow(0, 1px, 1px, false, darken($nakee_dark_green, 15%));
        color: $grayLight;
    }

}

.widget-inner h3 { font-size: 27px; }


/* ==========================================================================
   Header
   ========================================================================== */

.navbar {

    .brand {
        margin: 0;
        padding: 5px 0;
        line-height: $navbarHeight;
        text-indent: -9999em;

        & > a {
            @include logos-sprite(logo-hover);
            display: block;
            width: 163px;
            height: 40px;
        }

        & > a:hover,
        & > a:focus,
        & > a:active {
            @include logos-sprite(logo);
        }
    }

    // Reset Bootstrap Nav
    .nav li a {
        @include single-text-shadow(none);
        font-family: $headingsFontFamily;
        font-weight: 500;
    }

    .nav > .active > a,
    .nav > .active > a:hover,
    .nav > .active > a:focus {
        @include single-box-shadow(none);
    }

    // Custom Style Navbar Responsive
    @media only screen and (max-width: $navbarCollapseWidth) {
        .nav-collapse .nav li a {
            font-weight: bold;
        }

        // Nav and dropdown links in navbar
        .nav-collapse .nav > li > a,
        .nav-collapse .dropdown-menu a {
            padding: 9px 10px;
        }

        .nav-collapse .dropdown-menu > .active > a,
        .nav-collapse .dropdown-menu > .active > a:hover,
        .nav-collapse .dropdown-menu > .active > a:focus {
            color: $white;
        }

        .nav-collapse .nav > li > a:hover,
        .nav-collapse .nav > li > a:focus,
        .nav-collapse .dropdown-menu a:hover,
        .nav-collapse .dropdown-menu a:focus {
            background-color: $linkColor;
        }
    }

    // Custom Style Navbar Desktop
    @media only screen and (min-width: $navbarCollapseDesktopWidth) {
        // Reset Bootstrap Nav
        .nav > li > a {
            padding: 0;
        }

        .nav > li > a {
            @include sassy-button-structure(($navbarHeight / 2), 16px, 5px 13px);
            @include transition-property(color);
            @include transition-duration(0.6s);
            @include transition-timing-function(ease);
            margin: 10px 5px 0;
            border: 1px solid transparent;
            color: $navbarLinkColor;
        }

        .nav > li:last-child > a { margin-right: 0; }

        .nav > li > a:hover,
        .nav > li > a:focus,
        .nav li.dropdown.open > .dropdown-toggle {
            @include sassy-button-gradient("matte", $linkColor, darken(desaturate($linkColor, 10%), 10%), $white, inset, false);
            @include transition-property(color);
            @include transition-duration(0.4s);
            @include transition-timing-function(ease);
        }

        .nav > li > a:focus,
        .nav > li > a:active,
        .nav li.dropdown.open > .dropdown-toggle {
            @include single-box-shadow(0, 1px, 2px, false, rgba($black, 0.4), inset);
        }

        .nav > .active > a,
        .nav > .active > a:hover,
        .nav > .active > a:focus,
        .nav li.dropdown.active > .dropdown-toggle,
        .nav li.dropdown.open.active > .dropdown-toggle {
            @include sassy-button-gradient("simple", $navbarLinkBackgroundActive, darken($navbarLinkBackgroundActive, 10%), $white, inset, false);
        }

        .nav > .active > a:focus,
        .nav > .active > a:active,
        .nav li.dropdown.open.active > .dropdown-toggle {
            @include single-box-shadow(0, 1px, 2px, false, $black, true);
        }

        .nav .dropdown-menu { margin-top: 15px; }

        .nav li.dropdown.open > .dropdown-toggle,
        .nav li.dropdown.active > .dropdown-toggle,
        .nav li.dropdown.open.active > .dropdown-toggle {}

    }

}

@media only screen and (max-width: 979px) {
    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.navbar-fixed-top .navbar-inner {
    @include single-box-shadow(0, 1px, 5px, rgba(black, 0.5));
}

.nakee-header {
    @include single-text-shadow(0, 1px, 0, nil, white);
    @include responsive-full-width;
    padding: 15px 0;
    background: transparent image-url("banner-background.png") repeat 50% 0 scroll;
    border-bottom: 1px solid darken($nakee_dark_green, 10%);

    h3 {
        @include single-text-shadow(#FFF8C9, 0, 1px, 1px);
        font-weight: 300;
        font-size: ms(6);
        line-height: 1.5;
        text-align: right;

        & > strong,
        & > b {
            font-weight: bold;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 980px) {
        h3 { font-size: ms(5); }
    }

    @media only screen and (max-width: 767px) {
        h3 { font-size: ms(4); }
    }
}

.nakee-main-header > .container {

    padding: {
        top: 30px;
        bottom: 30px;
    }

    & > h3 {
        text-align: center;
    }

    @include respond-to(desktop) {
        & > h3 {
            font-size: ms(7);
        }
        & > h3 > strong {
            font-size: ms(7);
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 980px) {
        & > h3,
        & > h3 > strong { font-size: ms(6); }
    }
}

.nakee-front-teaser .widget {

    .widget-inner > h3 {
        font-size: ms(2);
        line-height: 1.2;

        @media only screen and (min-width: 768px) and (max-width: 980px) { font-size: ms(1) + 2; }
        @media only screen and (max-width: 767px) { font-size: ms(1); }
    }

    .widget-inner > div {
        font-size: 13px;
    }

}

.nakee-banner-border {

    @include responsive-full-width;
    @include single-box-shadow(0, 1px, 2px, false, black);
    height: 1px;
    background-color: white;

}


/* ==========================================================================
   Content
   ========================================================================== */

.content {
    margin-top: 30px;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
    position: relative;

    @media only screen and (max-width: 767px) { margin-bottom: $gridGutterWidth * 2; }
}

// Main Container Vars
$mainContentRadius: 20px;
$mainBorder: rgba($black, 0.1);
$mainShadow: rgba($black, 0.4);
$mainShadowElHeight: 500px;

.main > .main-container {
    @include box-sizing(border-box);
    @include border-radius(20px);
    position: relative;
    margin-top: 1px;
    padding: 1px 20px;
    border: {
        right: 1px solid $mainBorder;
        left: 1px solid $mainBorder;
        bottom: 8px solid $mainBorder;
    }
    background-color: $white;
    z-index: 10;
}

.main > .shadow-effect {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $mainShadowElHeight;
    background: transparent;
    z-index: 8;
    content: "";
}

.main > .shadow-effect > div {
    @include border-radius(20px);
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 7;
    content: "";

    &:before, &:after {
        @include single-box-shadow(0, 15px, 10px, false, $mainShadow);
        @include border-radius(10px);
        @include rotate(-3deg);
        position: absolute;
        top: 90%;
        left: 20px;
        bottom: 15px;
        width: 50%;
        z-index: 6;
        content: "";

        @media only screen and (max-width: 767px) {
            @include single-box-shadow(0, 15px, 5px, false, $mainShadow);
            left: 15px;
        }
    }

    &:after {
        @include rotate(3deg);
        right: 20px;
        left: auto;

        @media only screen and (max-width: 767px) {
            right: 15px;
        }
    }
}

.page-header h1 {
    font-size: ms(5);

    @media only screen and (max-width: 767px) {
        font-size: ms(4);
    }
}

.breadcrumbs-container {
    margin-top: 20px;
}

.breadcrumb {
    padding: 6px 10px;
    font-size: 12px;
}

.nakee-term-desc {
    @include single-text-shadow($white, 0, 1px, 1px);
    padding: 10px;
    background-color: $nakee_main_bg;
    border-bottom: 4px solid darken($nakee_main_bg, 5%);
}

.blog article,
.search article,
.archive article {

    margin-bottom: $gridGutterWidth * 2;
    padding-bottom: ($gridGutterWidth * 2) - 1;
    border-bottom: 1px dashed $grayLighter;

}

.page[class~="services"],
.page[class~="about"] {

    section .entry-content {
        font-size: $biggerBaseFontSize;
        line-height: 1.5;

        blockquote, blockquote p {
            font-size: 22.652px;
            line-height: 1.5;
        }

    }

}

.entry-title {
    word-wrap: break-word;
}

h1.entry-title {
    font-size: ms(5);
    line-height: 1.2;

    @media only screen and (min-width: 769px) and (max-width: 1199px) {
        font-size: ms(3);
    }

    @media only screen and (max-width: 768px) {
        font-size: ms(4);
    }

    @media only screen and (max-width: 320px) { font-size: ms(3); }
}

.single h1.entry-title,
.page h1.entry-title {
    font-size: ms(5);

    @media only screen and (max-width: 1024px) { font-size: ms(5); }
    @media only screen and (max-width: 767px) { font-size: ms(4) - 4; }
}

.entry-title a:hover,
.entry-title a:focus {
    text-decoration: none;
}

figure.nakee-portfolio-figure {

    a.nakee-portfolio-popup {
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
    }

    img {
        @include box-sizing(border-box);
        @include single-box-shadow(none);
        @include transition-property(box-shadow);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
        display: block;
        margin: 0 auto;
    }

    img:hover {
        @include single-box-shadow(0, 0, 6px, false, rgba($linkColor, 0.8));
        @include transition-property(box-shadow);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
    }

}

.blog .featured-image,
.search .featured-image,
.archive .featured-image {
    float: left;
    max-width: 200px;
}

.blog .nakee-post-thumbnails a img,
.search .nakee-post-thumbnails a img,
.archive .nakee-post-thumbnails a img {

    @include single-box-shadow(none);
    @include transition-property(box-shadow);
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);

    &:hover,
    &:focus {
        @include single-box-shadow(0, 0, 6px, false, rgba($linkColor, 0.8));
        @include transition-duration(0.4s);
        @include transition-property("all");
        @include transition-timing-function(linear);
    }

}

.blog,
.search,
.archive {

    .entry-meta,
    .entry-summary {
        @media only screen and (min-width: 980px) {
            margin-left: 200px + ($gridGutterWidth * 2);
        }
    }

}

.blog,
.search,
.archive {
    .entry-meta {
        margin-bottom: $gridGutterWidth;
    }
}

.blog,
.single,
.archive,
.search {
    .entry-category {
        font-size: 12px;
        text-transform: uppercase;

        a {
            font-weight: bold;
        }
    }
}

.updated {
    font-family: $serifFontFamily;
    font-size: 12px;
    font-style: italic;
    color: $grayLight;
}

.single header.single-meta {
    position: relative;
    margin: {
        left: 0 - $gridGutterWidth;
        right: 0 - $gridGutterWidth;
        bottom: $gridGutterWidth;
    }

    .entry-meta {
        position: absolute;
        bottom: $gridGutterWidth;
        width: 100%;
        padding: 10px 0;
        background-color: rgba($nakee_coral, 0.95);
    }

    @media only screen and (max-width: 768px) {
        .entry-meta {
            position: relative;
            bottom: 0;
        }
    }

    .entry-category,
    .entry-title,
    .updated {
        margin: {
            left: $gridGutterWidth;
            right: $gridGutterWidth;
        }
    }

    .entry-title {
        @include single-text-shadow(darken($nakee_coral, 80%), 0, 1px, 1px);
        color: $white;
    }

    .entry-category,
    .updated {
        color: $gray;
    }

}

article .entry-content,
section[class~="page"] .entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
        color: lighten($black, 25%);

        &[class~="sub-heading"] {
            color: darken($white, 40%);
        }
    }

    $largerH: ms(4) + 2;
    h1 { font-size: $largerH; }
    h2 { font-size: $largerH - 4; }
    h3 { font-size: $largerH - 8; }
    h4 { font-size: $largerH - 16; }

    // Smartphone Content Responsive Headings
    @media only screen and (max-width: 767px) {
        h1, h2, h3, h4, h5, h6 {
            font-size: ms(2);
            line-height: 1.2;
        }
    }

    // Section El
    p, address, aside, table, blockquote, pre, figure { margin-bottom: 20px; }
    > ul, > ol { margin-bottom: 20px; }

    // Phrasing El
    p, a, li, dt, dd, address, ins, del, aside, td,
    th, em, strong, mark, abbr, q, cite, span {
        font-size: $baseFontSize + 2;
        line-height: 1.5;
    }

    code, pre {
        font-size: $baseFontSize + 1;
        line-height: 1;
    }

    blockquote p { font-size: $baseFontSize + 4; }

    small, blockquote cite { font-size: $baseFontSize; }

    // Tablet Phrasing element
    @media only screen and (max-width: 980px) {
        p, a, li, dt, dd, address, ins, del, aside, td, th, em, strong, mark, abbr, q, cite, span, code, pre { font-size: $baseFontSize; }
        code, pre { font-size: $baseFontSize - 1; }
        small, blockquote cite { font-size: $baseFontSize - 2; }
    }

    ul { list-style-type: square; }
    ul.thumbnails { list-style-type: none; }

    ol { list-style-type: decimal; }
    ol.l-alpha { list-style-type: lower-alpha; }
    ol.u-alpha { list-style-type: upper-alpha; }
    ol.l-roman { list-style-type: lower-roman; }
    ol.u-roman { list-style-type: upper-roman; }

    // Custom Typo
    //
    // ul.h3, ul.h4, ol.h3, ol.h4
    ul, ol {
        &[class~="h3"] > li > h3,
        &[class~="h4"] > li > h4 { font-family: $sansFontFamily; }

        &[class~="h3"] > li,
        &[class~="h3"] > li > h3 { line-height: $baseLineHeight * 2; }

        &[class~="h4"] > li,
        &[class~="h4"] > li > h4 { line-height: $baseLineHeight; }

        &[class~="h3"] > li,
        &[class~="h3"] > li > h3,
        &[class~="h3"] > li > h3 > a { font-size: $largerH - 8; }

        &[class~="h4"] > li,
        &[class~="h4"] > li > h4,
        &[class~="h4"] > li > h4 > a { font-size: $largerH - 16; }

        // Tablet
        &[class~="h3"] > li,
        &[class~="h4"] > li {
            @media only screen and (max-width: 767px) {
                font-size: ms(2);
            }
        }

        &[class~="h3"] > li p,
        &[class~="h4"] > li p,
        &[class~="h3"] > li ul li,
        &[class~="h4"] > li ul li,
        &[class~="h3"] > li ol li,
        &[class~="h4"] > li ol li,
        &[class~="h3"] > li table,
        &[class~="h4"] > li table,
        &[class~="h3"] > li address,
        &[class~="h4"] > li address,
        &[class~="h3"] > li span,
        &[class~="h4"] > li span {
            font-size: $baseFontSize + 2;
            line-height: 1.5;

            // Tablet
            @media only screen and (max-width: 980px) { font-size: $baseFontSize; }
        }

        &[class~="h3"] > li > h3,
        &[class~="h4"] > li > h4 { margin: 0 0 10px; }
    }

    // Image Setting
    .wp-caption {
        @include box-sizing(border-box);
        max-width: 100%;
    }

    .wp-caption,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        margin-bottom: $gridGutterWidth;

        &[class*="alignleft"],
        &[class*="alignright"] {
            @media only screen and (max-width: 767px) {
                display: block;
                float: none;
                margin: 0 auto 20px;
                text-align: center;
            }
        }
    }

    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        padding: 4px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.2);
        @include box-shadow(0 1px 3px rgba(0,0,0,.1));
    }

    .wp-caption img[class*="size-"],
    .wp-caption:hover img[class*="size-"],
    .wp-caption a:hover img[class*="size-"],
    .wp-caption a:active img[class*="size-"] {
        padding: 0;
        border: none;
        @include single-box-shadow(none);
    }

    .wp-caption img { margin-bottom: 0; }
    .wp-caption figcaption {
        text-align: center;
        font-size: 10px;
        color: $grayLight;
    }

    .wp-caption figcaption a {
        font-size: 10px !important;
        color: $linkColor !important;
    }

    .wp-caption,
    a .size-full,
    a .size-large,
    a .size-medium,
    a .size-thumbnail {
        @include transition-property(all);
        @include transition-duration(.4s);
        @include transition-timing-function(ease);
    }

    .wp-caption:hover,
    a:hover .size-full,
    a:active .size-full,
    a:hover .size-large,
    a:active .size-large,
    a:hover .size-medium,
    a:active .size-medium,
    a:hover .size-thumbnail,
    a:active .size-thumbnail {
        @include single-box-shadow(0, 0, 4px, false, rgba($linkColor, 0.8));
    }

    // Form Setting, input-append dan input-prepend
    @media only screen and (max-width: 480px) {
        .input-append,
        .input-prepend {
            width: 100%;

            input[type="text"],
            input[type="email"],
            button[class~="btn"] { @include box-sizing(border-box); }

            input[type="text"],
            input[type="email"] { width: 70% }

            button[class~="btn"] { width: 30%; }
        }
    }

    @media only screen and (max-width: 479px) {
        .input-append,
        .input-prepend {
            button[class~="btn"] { font-size: 12px; padding: 4px; }
        }
    }

}

.single-nakee_portfolio article .entry-content {

    ul[class~="h3"] > li,
    ol[class~="h4"] > li {

        & > p,
        & > ul li,
        & > ol li {
            font-size: $biggerBaseFontSize + 1;
            line-height: 1.5;
        }

    }

}

.more-link {

    @include sassy-button-gradient(simple, $linkColor, $linkColorHover, $white, raised, false);
    @include border-radius(12px);
    display: block;
    float: right;
    width: 87px;
    margin-bottom: $gridGutterWidth;
    padding: 2px 10px;
    font-size: 12px;
    text-align: center;
    color: $white;

    @media only screen and (max-width: 799px) {
        position: relative;
        float: none;
        left: 50%;
        margin-left: 0 - (87px / 2);
    }

    &:hover,
    &:focus {
        @include sassy-button-gradient(simple, darken($linkColor, 5%), darken($linkColorHover, 5%), $white, raised, false);
        text-decoration: none;
        color: $white;
    }

    &:active {
        @include sassy-button-gradient(simple, darken($linkColorHover, 5%), darken($linkColor, 5%), $white, raised, false);
        border: 1px solid darken($linkColorHover, 10%);
        outline: 0;
        color: $white;
    }

}

.label[class~="nakee-label"] { padding: 4px 8px; }
.label.nakee-label[class~="nakee-label-normal"] { font-size: ms(1) + 2; }
.label.nakee-label[class~="nakee-label-large"] {
    padding: 8px 16px;
    font-size: ms(2) + 2;
}

.table {
    tr > td {
        &[class~="success"] { background-color: $successBackground; }
        &[class~="warning"] { background-color: $warningBackground; }
        &[class~="danger"] { background-color: $errorBackground; }
        &[class~="info"] { background-color: $infoBackground; }
    }
}

.blog,
.archive,
.search {
    .more-link {
        margin-bottom: 0;
    }
}

.pager,
.pagination {
    margin-bottom: 0;
    @media only screen and (max-width: 1223px) {
        margin-bottom: 40px;
    }
}

.single-section-container {
    @include legacy-pie-clearfix;
    @include pie-clearfix;
    padding-bottom: $gridGutterWidth;
    border-bottom: 1px dashed $grayLighter;
}

.single-social {
    margin-top: $gridGutterWidth;
    border-top: 1px dashed $grayLighter;
}

.social-button-wrap {
    float: left;
    max-width: 80px;
    padding: {
        right: $gridGutterWidth;
    }
}

.related-post-item {

    @media only screen and (max-width: 767px) {
        &.span4 { float: left; }

        max-width: 200px;
        margin-bottom: $gridGutterWidth / 2;
        &:last { margin-bottom: 0 }
    }

    @media only screen and (max-width: 480px) {
        max-width: 100px;
    }

    a { word-wrap: break-word; }

    a img {
        @include single-box-shadow(none);
        @include transition-property(box-shadow);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
    }

    a:hover img,
    a:focus img {
        @include single-box-shadow(0, 0, 6px, false, rgba($linkColor, 0.8));
        @include transition-property(box-shadow);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
    }

    a strong {
        display: inline-block;
        margin-top: $gridGutterWidth / 2;
        font-size: 18px;

        // Tablet Title
        @media only screen and (max-width: 980px) { font-size: $baseFontSize; }

        @media only screen and (max-width: 767px) {
            display: block;
        }
    }

}

.single-nakee_portfolio .type-nakee_portfolio,
.page[class~="services"],
.page[class~="about"] {
    .entry-content {
        color: $gray;

        // Section
        p, address, aside, table, blockquote, pre, figure { margin-bottom: 20px; }
        > ul, > ol { margin-bottom: 20px; }

        // Phrasing El
        p, a, li, dt, dd, address, ins, del, aside, td,
        th, em, strong, mark, abbr, q, cite, span {
            font-size: $biggerBaseFontSize + 1;
            line-height: 1.5;
        }

        code, pre {
            font-size: $biggerBaseFontSize + 1;
            line-height: 1;
        }

        blockquote p { font-size: $biggerBaseFontSize + 3; }

        small, blockquote cite { font-size: $biggerBaseFontSize - 2; }

        // Small Tab to Phone typos
        @media only screen and (max-width: 767px) {
            p, a, li, dt, dd, address, ins, del, aside, td,
            th, em, strong, mark, abbr, q, cite, span {
                font-size: $baseFontSize;
            }

            code, pre {
                font-size: $baseFontSize - 1;
            }

            blockquote p { font-size: $baseFontSize + 2; }

            small, blockquote cite { font-size: $baseFontSize - 2; }
        }

        a[class~="btn"] {
            font-size: inherit;
            line-height: inherit;
        }

        span.hide-text { @include hide-text; }

        &[class~="h3"] > li p,
        &[class~="h4"] > li p,
        &[class~="h3"] > li ul li,
        &[class~="h4"] > li ul li,
        &[class~="h3"] > li ol li,
        &[class~="h4"] > li ol li,
        &[class~="h3"] > li table,
        &[class~="h4"] > li table,
        &[class~="h3"] > li address,
        &[class~="h4"] > li address,
        &[class~="h3"] > li span,
        &[class~="h4"] > li span {
            font-size: $biggerBaseFontSize + 1;
            line-height: 1.5;

            @media only screen and (max-width: 767px) { font-size: $baseFontSize; }
        }

        .wp-caption figcaption a {
            font-size: 10px !important;
            color: $linkColor !important;
        }
    }
}

/**
 * Nakee Portfolio Post Type
 *
 */
.archive.post-type-archive-nakee_portfolio,
.archive.tax-nakee_portfolio_category,
.archive.tax-nakee_technology {

    article { @include reset-box-model; }
    .entry-summary { @include reset-box-model; }

    .entry-meta {
        @include reset-box-model;
        @include hide-text;
    }

    .entry-category { @include hide-text; }
    .more-link { margin-bottom: $gridGutterWidth; }

}

// Tablet Portfolio Full Width
.home,
.archive.post-type-archive-nakee_portfolio,
.archive.tax-nakee_portfolio_category,
.archive.tax-nakee_technology {
    @media only screen and (min-width: 768px) and (max-width: 980px) {
        .main-container > .row-fluid div[class~="span4"] { margin: 0; width: 100%; }
    }
}

.home .type-nakee_portfolio,
.archive .type-nakee_portfolio {

    header {
        position: relative;
    }

    h2.entry-title {
        font-size: ms(2);
        line-height: 1.2;
        text-align: center;

        @media only screen and (max-width: 767px) { font-size: ms(2) - 2; }
    }

    .nakee-portfolio-figure {
        position: relative;
    }

    .entry-summary {
        font-size: 13px;
        line-height: 1.5;
        color: $gray;

        @media only screen and (min-width: 768px) and (max-width: 980px) { font-size: 14px; }
    }

    footer {

        @media only screen and (max-width: 768px) {
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

    }

}

.single-nakee_portfolio .type-nakee_portfolio {

    header h1 { line-height: 1.2; text-align: center; }

    footer { border-top: 1px solid #eee; }

    // Kategori & Teknologi Container
    .single-widget-inner {

        li > a {

            @include transition-property(background-color, color);
            @include transition-duration(0.3s);
            @include transition-timing-function(linear);
            display: block;
            padding: 0 5px;
            height: 30px;
            line-height: 30px;

        }

        li > a:hover,
        li > a:focus {

            background-color: $linkColor;
            text-decoration: none;
            color: $white;

        }

        li > a:active {
            @include single-text-shadow(darken($linkColorHover, 20%), 0, 0, 1px);
            background-color: $linkColorHover;
        }

    }

}

// 404 Page
// ----------------------------------------------------------------------------
.error404-img {
    text-align: center;

    img {
        @include inline-block;
    }
}

@media only screen and (min-width: 1025px) {
    .error404-img {
        max-width: 600px;
        float: left;
    }
}

.error404-info {
    p, li {
        font-size: ms(1);
        line-height: 1.5;
    }

    ul { list-style-type: circle; }
}

@media only screen and (max-width: 1024px) {
    .error404-info h1 { text-align: center; }
}

@media only screen and (min-width: 768px) {
    .error404-info #searchform input[type="text"] {
        display: block;
        width: 450px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1025px) {
    .error404-info {
        margin-top: 100px;
        margin-left: 600px + $gridGutterWidth;
    }


}

section.portfolio-category {

    margin-top: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    border-top: 1px solid #eee;

    @media only screen and (max-width: 768px) {
        padding: 20px 0;
        border-color: transparent;
    }

    h3 {
        @include reset-box-model;
    }

    li > a {

        @include transition-property(color);
        @include transition-duration(0.3s);
        @include transition-timing-function(linear);
        text-transform: uppercase;
        font-size: ms(1);
        font-weight: bold;
        line-height: 1.5;

        &:hover,
        &:focus {
            @include transition-property(color);
            @include transition-duration(0.3s);
            @include transition-timing-function(linear);
            text-decoration: none;
        }

    }

}

section.last-tweet-widget {

    h3 { @include reset-box-model; }

    .twitter-logo,
    .tweet-container {
        padding: {
            top: 15px;
            bottom: 15px;
        }

        @media only screen and (max-width: 979px) { text-align: center; }
        @media only screen and (min-width: 769px) and (max-width: 980px) {
            @include box-sizing(border-box);
            width: 100%;
            margin: 0;
        }
    }

    .twitter-logo {

        @include reset-box-model;
        display: none;
        visibility: hidden;

        @media only screen and (min-width: 980px) {
            display: block;
            visibility: visible;
            float: left;
            width: 150px;
            height: 150px;
            padding: 15px;
            background: transparent image-url('twitter-logo.png') no-repeat 50% 50% scroll;
        }

    }

    .tweet-container {

        @media only screen and (min-width: 980px) {
            margin-left: 30px + 150;
        }

    }

    .tweet-container .tweet-text {
        font-size: ms(3) + 4;
        font-family: $serifFontFamily;
        font-weight: normal;
        font-style: italic;
        line-height: 1.5;

        @media only screen and (max-width: 767px) { font-size: 22px; }
    }

    .tweet-time { text-align: right; color: $grayLight; }

}

nav.post-nav,
body[class~="page"] nav.page-nav {
    margin-bottom: $gridGutterWidth * 2;
}





/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
    h3 {
        @include single-text-shadow($white, 0, 1px, 1px);
        color: $gray;
    }

    .widget-inner {
        p, li {
            @include single-text-shadow($white, 0, 1px, 1px);
            color: $gray;
        }
    }

    // wordpress default widget general style
    //
    // daftar :
    // - Recent Post
    // - Archive
    // - Category
    // - Meta
    // - Custom Menu
    // - Pages
    .widget_recent_entries,
    .widget_archive,
    .widget_categories,
    .widget_meta,
    .widget_nav_menu,
    .widget_pages,
    .widget_links, {
        ul { @include reset-box-model; }

        .widget-inner > ul > li {
            &:first-child > a { border-top: none; }
            &:last-child > a { border-bottom: none; }
        }

        ul li > a {
            @include single-text-shadow($white, 0, -1px, 1px);
            @include transition-property(padding, background-color, border-color);
            @include transition-duration(.4s);
            @include transition-timing-function(ease);
            display: block;
            padding: 3px 0 3px $gridGutterWidth;
            border: {
                top: 1px solid $white;
                bottom: 1px solid $grayLight;
            }
            line-height: 2;
        }

        ul li > a:hover,
        ul li > a:active,
        ul li.dropdown.open > a {
            @include single-text-shadow(rgba($black, 0.4), 0, -1px, 1px);
            @include transition-property(padding, background-color, border-color);
            @include transition-duration(.1s);
            @include transition-timing-function(ease);
            padding-left: $gridGutterWidth + 10;
            border-top-color: rgba($white, 0.4);
            border-bottom-color: rgba($black, 0.4);
            background-color: $linkColor;
            color: $white;
            text-decoration: none;
        }

        ul li > a:active {
            @include single-box-shadow(0, 1px, 4px, false, rgba($black, 0.4), true);
        }

        a:hover,
        a:active { text-decoration: none; }

        // ul level 2
        .widget-inner > ul > li > ul li a { padding-left: $gridGutterWidth + 20; }

        .widget-inner > ul > li > ul li a:hover,
        .widget-inner > ul > li > ul li a:focus { padding-left: $gridGutterWidth + 30; }
    }

    // Recent Comment Widget
    .widget_recent_comments ul {
        @include reset-box-model;

        li {
            line-height: 2;
            padding: 3px 0 3px $gridGutterWidth;
            border: {
                top: 1px solid $white;
                bottom: 1px solid $grayLight;
            }
        }

        li:first-child { border-top: none; }
        li:last-child { border-bottom: none; }
    }

    // Hilangkan Tanggal pada Recent Posts
    .widget_recent_entries .widget-inner span.post-date {
        display: none !important;
    }

    // Styling khusus untuk widget Custom Menu
    .widget_nav_menu .widget-inner > ul {
        .dropdown .caret {
            margin: {
                top: 12px;
                left: 4px;
            }
            border-top-color: $linkColor;
        }

        .dropdown > a:hover > .caret,
        .dropdown > a:active > .caret,
        .dropdown.open > a:hover > .caret,
        .dropdown.open > a:active > .caret {
            border-top-color: $white;
        }

        .dropdown.open .dropdown-menu {
            margin: 5px 0 0 20px;
            padding: 5px 0;
        }

        .dropdown.open .dropdown-menu li a,
        .dropdown.open .dropdown-menu li a:hover,
        .dropdown.open .dropdown-menu li a:focus {
            @include reset-box-model;
            padding: 3px 20px;
            line-height: 20px;
        }
    }

    // Link Widget a.k.a. Blogroll
    .widget_links li a {
        @include clearfix;
        line-height: 1;
    }

    .widget_links img {
        @include box-sizing(border-box);
        display: block;
        float: left;
        width: 100%;
        max-width: 64px;
        margin: 5px 10px 5px 0;
        padding: 4px;
        border: 1px solid #eee;
        background-color: $white;
    }
}

.sticky-sidebar-container {
    @include border-radius($gridGutterWidth / 2);
    @include single-box-shadow(0, 2px, 2px, false, rgba($black, 0.4));
    @include box-sizing(border-box);
    margin: {
        bottom: $gridGutterWidth;
    }
    padding: 1px $gridGutterWidth $gridGutterWidth;
    background-color: $white;
}

/* ==========================================================================
   Widgets
   ========================================================================== */
@media only screen and (max-width: 768px) {
    .widget-inner h3 {
        font-size: ms(2);
        line-height: 1.2;
    }
}

.widget-inner .nakee-profile-widget {

    figure.nakee-gravatar {
        width: 100%;
        margin-bottom: $gridGutterWidth;

        @media only screen and (min-width: 980px) { max-width: 100px; }
        @media only screen and (min-width: 321px) and (max-width: 767px) { max-width: 100px; }
    }

    figure.nakee-gravatar[class*="alignleft"],
    figure.nakee-gravatar[class*="alignright"] {
        @media only screen and (min-width: 768px) and (max-width: 980px) {
            float: none;
            margin: {
                right: 0;
                left: 0;
            }
            text-align: center;
        }

        @media only screen and (max-width: 320px) {
            float: none;
            margin: {
                right: 0;
                left: 0;
            }
            text-align: center;
        }
    }

    // Avatar (Widget Profil) pada Homepage
    &.nakee-widget-homepage figure.nakee-gravatar {
        @media only screen and (min-width: 980px) { max-width: 150px; }
        @media only screen and (min-width: 321px) and (max-width: 767px) { max-width: 150px; }
    }

    @media only screen and (min-width: 980px) {
        figure[class*="alignleft"] ~ p,
        figure[class*="alignleft"] ~ address { margin-left: 100px + $gridGutterWidth; }
        figure[class*="alignright"] ~ p,
        figure[class*="alignright"] ~ address { margin-right: 100px + $gridGutterWidth; }

        &.nakee-widget-homepage figure[class*="alignleft"] ~ p,
        &.nakee-widget-homepage figure[class*="alignleft"] ~ address { margin-left: 150px + $gridGutterWidth; }
        &.nakee-widget-homepage figure[class*="alignright"] ~ p,
        &.nakee-widget-homepage figure[class*="alignright"] ~ address { margin-right: 150px + $gridGutterWidth; }
    }

    @media only screen and (min-width: 321px) and (max-width: 767px) {
        figure[class*="alignleft"] ~ p,
        figure[class*="alignleft"] ~ address { margin-left: 100px + $gridGutterWidth; }
        figure[class*="alignright"] ~ p,
        figure[class*="alignright"] ~ address { margin-right: 100px + $gridGutterWidth; }

        &.nakee-widget-homepage figure[class*="alignleft"] ~ p,
        &.nakee-widget-homepage figure[class*="alignleft"] ~ address { margin-left: 150px + $gridGutterWidth; }
        &.nakee-widget-homepage figure[class*="alignright"] ~ p,
        &.nakee-widget-homepage figure[class*="alignright"] ~ address { margin-right: 150px + $gridGutterWidth; }
    }

    // Paragraph Setting
    p {
        @media only screen and (max-width: 1199px) { font-size: $baseFontSize - 1; }
    }

    // Elemen p (Widget Profil) pada homepage
    &.nakee-widget-homepage p {
        @media only screen and (min-width: 981px) and (max-width: 1199px) { font-size: $baseFontSize; }
        @media only screen and (max-width: 980px) { font-size: $baseFontSize - 1; }
    }

    .social-link li a:hover,
    .social-link li a:focus {
        @include single-text-shadow(rgba($black, 0.4), 0, 1px, 1px);
    }

    .social-link[class*="align"] {
        float: none;
    }

    .social-link.aligncenter { text-align: center; }
    .social-link.alignright { text-align: right; }

}

.nakee-skills {
    li strong.skill-title {
        @include single-text-shadow(rgba($black, 0.8), 0, 1px, 1px);
        font-size: ms(1);
        text-transform: uppercase;
        color: $white;

        @media only screen and (max-width: 768px) {
            font-size: 14px;
        }
    }

    li div.progress {
        @include border-radius(0);
        margin-top: 5px;
    }

    li div.progress.nakee-progress .bar,
    li div.progress.nakee-progress[class*="progress-info"] .bar,
    li div.progress.nakee-progress[class*="progress-success"] .bar,
    li div.progress.nakee-progress[class*="progress-warning"] .bar,
    li div.progress.nakee-progress[class*="progress-danger"] .bar,{
        @include background(linear-gradient(top, lighten(saturate($nakee_blue, 5%), 10%), rgba(darken($nakee_blue, 20%), 0.8)));
        background-color: $nakee_blue;
    }
}

.popular-posts .widget-inner {

    ul.nakee-popular-posts li.media {
        @include transition-property(padding, background-color);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-out);
        margin: 0;
        padding: ($gridGutterWidth - 1) 0 ($gridGutterWidth - 1);
        border-top: 1px solid rgba($white, 0.8);
        border-bottom: 1px solid rgba($grayLight, 0.8);

        &:first-child { border-top: none; }
        &:last-child { border-bottom: none; }

        &:hover {
            @include single-box-shadow(0, 2px, 2px, false, rgba($black, 0.4));
            padding: ($gridGutterWidth - 1) ($gridGutterWidth / 2);
            border-bottom: 1px solid transparent;
            background-color: $white;
        }
    }

    ul.nakee-popular-posts li.media .media-summary {
        margin: 0;
        font-size: 10.6px;
    }

}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */
.content-info {
    margin-top: $gridGutterWidth * 2;
    padding-top: 0;

    @media only screen and (max-width: 767px) {
        margin-top: 0;
    }
}

.footer-triangle {
    @include responsive-full-width();
    position: relative;
    top: 0;
    height: 10px;
    padding-top: 15px;
    background: transparent image-url('triangle.png') repeat-x 0 0 scroll;
}

.technology-widget-container {

    padding: {
        top: 10px;
        bottom: 10px;
    }
    border: {
        top: 1px solid darken($nakee_dark_green, 10%);
    }
    background-color: darken($nakee_dark_green, 5%);

}

.technology-widget {

    ul {
        @include reset-box-model();
        @include reset-list-style();
    }

    ul li {
        @include inline-block();
    }

    abbr {
        margin-right: 19px;
        text-decoration: none;
        border-bottom: none;
    }

    li:last-child abbr {
        margin: 0;
    }

    li > abbr > i {
        @include inline-block();
        width: 80px;
        height: 80px;
    }

    i {
        &.nakee-html5-icon { @include icons-sprite('html5-logo'); }
        &.nakee-css3-icon { @include icons-sprite('css3-logo'); }
        &.nakee-jquery-icon { @include icons-sprite('jquery-logo'); }
        &.nakee-php-icon { @include icons-sprite('php-logo'); }
        &.nakee-mysql-icon { @include icons-sprite('mysql-logo'); }
        &.nakee-git-icon { @include icons-sprite('git-logo'); }
        &.nakee-ps-icon { @include icons-sprite('ps-logo'); }
        &.nakee-ai-icon { @include icons-sprite('ai-logo'); }
        &.nakee-sass-icon { @include icons-sprite('sass-logo'); }
        &.nakee-ruby-icon { @include icons-sprite('ruby-logo'); }
        &.nakee-cake-icon { @include icons-sprite('cake-logo'); }
        &.nakee-wp-icon { @include icons-sprite('wp-logo'); }
    }

    li:hover > abbr > i {
        &.nakee-html5-icon { @include icons-sprite('html5-logo-hover'); }
        &.nakee-css3-icon { @include icons-sprite('css3-logo-hover'); }
        &.nakee-jquery-icon { @include icons-sprite('jquery-logo-hover'); }
        &.nakee-php-icon { @include icons-sprite('php-logo-hover'); }
        &.nakee-mysql-icon { @include icons-sprite('mysql-logo-hover'); }
        &.nakee-git-icon { @include icons-sprite('git-logo-hover'); }
        &.nakee-ps-icon { @include icons-sprite('ps-logo-hover'); }
        &.nakee-ai-icon { @include icons-sprite('ai-logo-hover'); }
        &.nakee-sass-icon { @include icons-sprite('sass-logo-hover'); }
        &.nakee-ruby-icon { @include icons-sprite('ruby-logo-hover'); }
        &.nakee-cake-icon { @include icons-sprite('cake-logo-hover'); }
        &.nakee-wp-icon { @include icons-sprite('wp-logo-hover'); }
    }

}

.footer-top-border {
    background-color: darken($nakee_dark_green, 10%);
    height: 1px;
}

.footer-text-container {
    padding-top: 10px;
    border-top: 1px solid desaturate(lighten($nakee_dark_green, 7%), 10%);
}

.footer-text {
    @include single-text-shadow(darken($nakee_dark_green, 10%), 0, 1px, 1px);
    line-height: 30px;
    color: $grayLight;
}

@media only screen and (max-width: 767px) {
    .footer-text,
    .social-footer {
        width: 100%;
    }

    .footer-text { text-align: center; }
    .social-footer ul { float: none; text-align: center; }
}

.social-footer,
.social-link {

    ul {
        @include reset-box-model;
    }

    li a {
        display: block;
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        color: $grayLight;
    }

    li a:hover,
    li a:focus {
        @include border-radius(50%);
        text-decoration: none;
        color: white;

        &.facebook { background-color: $facebookColor; }
        &.twitter { background-color: $twitterColor; }
        &.github { background-color: $githubColor; }
        &.rss { background-color: $rssColor; }
        &.to-top {}
    }

}

.social-link { margin-bottom: $gridGutterWidth / 2; }
.social-link li a {
    &.facebook { color: $facebookColor; }
    &.twitter { color: $twitterColor; }
    &.github { color: $grayDark; }

    &:hover,
    &:focus { color: $white; }
}

.social-footer li a.github {
    &:hover,
    &:focus {
        background-color: $white;
        color: $grayDark;
    }
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft {
    float: left;
    margin-right: 20px;
}
.alignright {
    float: right;
    margin-left: 20px;
}
figure.alignnone { margin-left: 0; margin-right: 0; }
